{% include base_path %}

{% assign teaser = post.header.teaser | default: site.teaser %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title no_toc">
      <a href="{{ post.external_url | default: post.url | relative_url }}" target="_blank" rel="noopener noreferrer">
        {{ title }}
      </a>
    </h2>

    {% if post.venue %}
      <p><strong>{{ post.venue }}</strong></p>
    {% endif %}

    {% if post.citation %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p>
    {% endif %}
    
  </article>
</div>
